/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

@font-face {
   font-family: "NeueBebas";
   src: url(../fonts/BebasNeueRegular.woff2) format("woff2"), url(../fonts/BebasNeueRegular.woff) format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	/* по умолчанию */
	font-size: 16px; 
}
body {
	line-height: 1;
	color: #000000;
	background-color: #ffffff;
   font-family: 'Open Sans', sans-serif;
}
.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ------------------------------ */

main {
   flex-grow: 1;
}

[class*="__container"] {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0px 15px;
}

/* №1 */
@media (max-width: 1050px) {
	[class*="__container"] {
		max-width: 970px;
	}
}
/* №2 */
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}
/* №3 */
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}

@media (max-width: 1050px) {
}
/* Условные планшеты */
@media (max-width: 991.98px) {
}
/* Условные мобилки */
@media (max-width: 767.98px) {
}

/* Header style */

.header__main {
   background: url(../img/header/bg.jpg) center no-repeat;
   background-size: cover;
}

.header__flex {
   padding: 31px 0 71px 0;
   min-height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.text__header{
   color: #ffffff;
   font-family: "NeueBebas";
   font-size: 60px;
   font-weight: 400;
   letter-spacing: 5.709px;
   text-align: center;
}

.text__suptext {
   color: #FFF;
   font-weight: 600;
   display: flex;
   justify-content: center;
}

.header__subtext {
   color: #FFF;
   font-size: 11px;
   font-weight: 600;
   letter-spacing: 3.7px;
}

@media (max-width: 767.98px) {
   .text__header {
      font-size: 50px;
   }
   .text__suptext{
      font-size: 14px;
   }
}

@media (max-width: 614.98px){
   .text__header {
         font-size: 30px;
         margin-bottom: 10px;
      }
   
      .text__suptext {
         font-size: 12px;
      }
}

/* ******************************** */

/* main__nav */
.main__nav {
   border-bottom: 1px solid #E6E6E6;
}

.nav {
   padding: 24px 0px;
   display: flex;
   justify-content: space-between;
   margin: 0px -12px;
}
.nav__logo {
   padding: 0 12px;
   display: flex;
   align-items:flex-start;

}

.nav__list {
   padding: 0 12px;
}
.nav__ul {
   display: flex;
   row-gap: 10px;
   column-gap: 42px;
}

.nav__ul a{
color: #48555B;
font-size: 12px;
font-weight: 600;
letter-spacing: 1.091px;
}

.nav__ul a:hover{
   color: #00A4E5;
}

@media (max-width: 614.98px){
.nav__ul li:not(:last-child){
   column-gap: 20px;
}
.nav__ul {
   flex-wrap: wrap;
}
}

/* ******************* */
/* ourstory*/

.ourstory {
   padding: 57px 0 120px 0;
}

.ourstory__heading {
   margin: 0px 0px 82px 0;
}

.ourstory_text {
   color: #48555B;
   text-align: center;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 2.306px;
   position: relative;
}

.ourstory_text::before{
   content: "";
   width: 50px;
   height: 2px;
   background-color: #00A4E5;
   position: absolute;
   z-index: 4;
   left: 50%;
   bottom: -10px;
   transform: translatex(-50%);
}

.ourstory__body {
   display: flex;
   column-gap: 76px
}

.ourstory__text{
   max-width: 405px;
}

.ourstory__text span{
   color: #16ACE8;
}

.ourstory__suptext {
   color: #48555B;
   font-size: 20px;
   font-weight: 700;
   letter-spacing: 0.188px;
}

.ourstory__suptext:not(:last-child){
   margin-bottom: 30px;
}

.ourstory__subtext {
   color: #48555B;
   font-size: 13px;
   font-weight: 400;
   line-height: 23px;
   letter-spacing: 0.188px;
}

.ourstory__items {
   flex: 0 1 auto;
   width: 100%
}

.items__carts {
   display: flex;
   gap: 20px;
   justify-content: flex-end;
}

.item__cart1 {
   background: url(../img/main/Bitmap.jpg) no-repeat;
}

.item_cart {
   width: 140px;
   height: 224px;
}

.item__text {
   color: #FFF;
   font-size: 24px;
   font-weight: 800;
   line-height: 29px;
   letter-spacing: 0.188px;
   padding: 23px 0px 0px 14px;
}

.item__cart2 {
   background: url(../img/main/Bitmap2.jpg) no-repeat;
}

.item__cart3 {
   background: url(../img/main/Bitmap3.jpg)no-repeat;
}

@media (max-width: 991.98px) {

   .ourstory {
         padding: 57px 0 80px 0;
      }

   .item_cart {
      width: 110px;
   }

   .item__text {
      font-size: 18px;
      line-height: 20px;
      padding: 20px 0px 0px 10px;
}
}
/* Условные мобилки */
@media (max-width: 767.98px) {
   .ourstory {
         padding: 40px 0px 0px 0px;
      }

   .ourstory__body {
         flex-wrap: wrap;
         justify-content: center;
      }
   
      .ourstory__text {
         margin-bottom: 30px;
         max-width: 100%;
      }
      
      .item_cart {
         width: 140px;
         height: 224px;
      }

      .ourstory__heading {
      margin: 0px 0px 50px 0;
}

      .items__carts {
         justify-content: space-between;
         margin: 0px 0px 60px 0;
      }

      .item__text {
      font-size: 14px;
      line-height: 20px;
      padding: 20px 0px 0px 10px;
}
}

/* *****************************************s */

.capabilities:not(:last-child){
   margin-bottom: 115px;
}

.capabilities__header {
   margin-bottom: 78px;
}

.capabilities__cart {
   display: flex;
   width: 100%;
   column-gap: 10px;
   justify-content: space-between;
   align-items: flex-start;
}

.capabilities__text {
   color: #48555B;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 2.306px;
   position: relative;
}

.capabilities__text::before {
   content: "";
   width: 50px;
   height: 2px;
   background-color: #00A4E5;
   position: absolute;
   z-index: 4;
   left: 0;
   bottom: -10px;
}

.capabilities__info {
   color: #48555B;
   font-size: 11px;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0.2px;
   max-width: 405px;
}

.capabilities__link a {
   display: flex;
   padding: 11px 29px;
   color: #FFF;
   text-align: center;
   font-size: 13px;
   font-weight: 700;
   letter-spacing: 0.5px;
   background: #00A4E5;
}

.capabilities__body{
   display: flex;
   column-gap: 30px
}

.capabilities__items {
   margin: 0px -12px;
   display: flex;
}

.items__capabilities {
   padding: 0px 12px;
   flex: 1 1 33.333%;
   min-width: 250px;
}

.item__capabilities {
   height: 100%;
   border: 1px solid #E6E6E6;
   padding: 38px 22px 39px 24px;

}

.item__img img {
   max-height: 75px;
   max-width: 100%;
}

.item__img:not(:last-child){
   margin-bottom: 25px;
}

.item__suptext {
   color: #48555B;
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: 0.427px;
}

.item__suptext:not(:last-child){
      margin-bottom: 13px;
}

.item__subtext {
   color: #48555B;
   font-size: 13px;
   font-weight: 400;
   line-height: 23px;
   letter-spacing: 0.188px;
}

@media (max-width: 991.98px) {
   .capabilities__body {
         flex-wrap: wrap;
         row-gap: 20px;
      }
   .capabilities__info {
         color: #48555B;
         font-size: 11px;
         flex: 0 1 330px;
      }

      .capabilities__link{
         margin-left: auto;
      }

   .capabilities__items {
      flex-wrap: wrap;
      row-gap: 20px;
      }
      .capabilities:not(:last-child) {
         margin-bottom: 60px;
      } 
      
      .items__capabilities {
         flex: 0 1 50%;
      }
}

/* Условные мобилки */
@media (max-width: 767.98px) {
      .item__suptext {
         font-size: 14px;
      }

      .items__capabilities {
         flex-wrap: wrap;
         row-gap: 20px;
         min-width: 300px;
      }

      .items__capabilities {
         flex: 0 1 50%;
}

      .capabilities__info {
         flex: 1 1 60%;
      }

      .capabilities__link a {
         display: flex;
         padding: 11px 20px;
         font-size: 12px;
}


      .capabilities__body{
         width: 100%;
         justify-content: space-between;
      }
   }


@media (max-width: 614.98px) {
   .capabilities__cart {
      flex-wrap: wrap;
      row-gap: 20px;
      }
      .capabilities__header {
      margin-bottom: 50px;
}
   .capabilities__items{
      flex-wrap: wrap;
      row-gap: 15px;
   }

      .item__capabilities {
         padding: 30px 20px;
      }
      
      .capabilities:not(:last-child) {
         margin-bottom: 50px;
      }

      .capabilities__body{
         width: 100%;}

      .capabilities__info {
         flex: 1 1 100%;
         width: 100%;
      }
         .capabilities__link{
         margin-left: 0;
      }


      .items__capabilities {
         flex-wrap: wrap;
         row-gap: 20px;
         min-width: 300px;
      }

      .items__capabilities {
         flex: 1 1 auto;
}
}

@media (max-width: 592px) {
   .capabilities__info {
      display: block;
      min-width: 100%;
      }

         .capabilities__link{
         display: block;
         margin: auto;
      }
}

/* /****************** */

.amazing {
   background: url(../img/main/bg.jpg) center no-repeat;
   background-size: cover;
   padding: 120px 0px 231px 0px;
}

.amazing__container {}

.amazing__body {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.amazing__text {
   color: #48555B;
   text-align: center;
   font-size: 30px;
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 0.15px;
}

.amazing__text:not(:last-child){
   margin-bottom: 35px;
}

.amazing__link {
   align-self: center;
   color: #FFF;
   text-align: center;
   font-size: 13px;
   font-weight: 700;
   letter-spacing: 0.5px;
   background-color: #00A4E5;
   padding: 11px 26px;
}


/* Условные мобилки */
@media (max-width: 767.98px) {
   .amazing {
         padding: 20px 0px 231px 0px;
      }
}

@media (max-width: 614.98px) {
   .amazing {
         padding: 10px 0px 231px 0px;
      }

      .amazing__text {
         font-size: 20px;
         }
}

/* /************************* */

.newsletter {
   background: #171819;
   padding: 30px 0px;
}

.newsletter__container {}

.newsletter__body {
   display: flex;
   justify-content: center;
   align-items:center;
   column-gap: 70px;
}

.newsletter__text {
      color: #FFF;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 0.846px;
}

.newsletter__form {
   font-size: 0;
}
.newsletter__input {
   width: 230px;
   padding: 11px 10px;
}

.newsletter__button {
   padding: 11px 49px;
   background: #00A4E5;
   color: #FFF;
   text-align: center;
   font-size: 13px;
   font-weight: 700;
   letter-spacing: 0.5px;
   cursor: pointer;
}

/* Условные мобилки */
@media (max-width: 767.98px) {
      .newsletter__body {
         flex-wrap: wrap;
         row-gap: 20px;
         }
      .newsletter__input {
         width: 200px;
         }
      .newsletter__button {
         padding: 11px 15px;
         font-size: 13px;
      }
}

@media (max-width: 614.98px) {

      .newsletter__input {
         width: 180px;
      }
         .newsletter__button {
            padding: 11px 15px;
            font-size: 13px;
         }
}

/* ******************************* */

.footer__bot {
   background: #171819;
}

.bot__text,
.contact__adress a, 
.contact__tele a,
.contact__mail a{
   text-align: center;
   padding: 22px 0px;
   color: #FFF;
   font-size: 11px;
   font-weight: 400;
   letter-spacing: 0.846px;
   line-height: 19px;
}



@media (max-width: 614.98px) {
   .bot__text {
      font-size: 10px;
   }

}

.footer__top{
   background: #141A20;
   padding: 42px 0px 40px 0px;
}

.footer__top {}

.footer__container {}

.footer__items {
   display: flex;
}

.footer__company {
   flex: 0 1 250px;
}

.footer__company:not(:last-child){
   margin: 0px 71px 0px 0px;
}

.company__subtext{

}
.company__subtext:not(:last-child) {
   margin: 0px 0px 19px 0px;
}

.footer_title {
   color: #FFF;
   font-size: 11px;
   font-weight: 400;
   letter-spacing: 0.846px;}

.company__logo {}

.company__logo:not(:last-child) {
   margin: 0px 0px 15px 0px;
}

.company__suptext {
   text-align: left;
   padding: 0;
}

.footer__links {}

.links__name {}

.links__name:not(:last-child) {
   margin-bottom: 10px;
}

.links__items {
   display: flex;
   column-gap: 35px;
}

.footer__links:not(:last-child){
   margin: 0px 58px 0px 0px;
}

.links__items li a{
   color: #FFF;
   font-size: 11px;
   font-weight: 600;
   letter-spacing: 0.846px;
}

.links__items li:not(:last-child) {
   margin: 0px 0px 10px 0px;
}

.footer__contact {
   flex: 0 1 141px;
}

.footer__contact:not(:last-child) {
   margin: 0px 46px 0px 0px;
}

.contact__title {}

.contact__title:not(:last-child) {
   margin-bottom: 15px;
}

.contact__adress a{
   text-align: left;
   padding: 0;
}

.contact__adress:not(:last-child){
   margin-bottom: 12px;
}

.contact__tele a{
   padding: 0;
}

.contact__tele:not(:last-child) {
   margin-bottom: 12px;
}

.contact__mail a{
   padding: 0;
}

.footer__soc {
   
}

.soc__item a:not(:last-child){
   margin: 0px 25px 0px 0px;
}

footer a:hover {
   color:#00A4E5
}

@media (max-width: 991.98px) {


   .footer__company:not(:last-child) {
         margin: 0px 30px 0px 0px;
      }

      .footer__links:not(:last-child){
      margin: 0px 30px 0px 0px;
      }

      .links__items {
      column-gap: 25px;
      }

      .footer__contact:not(:last-child) {
         margin: 0px 30px 0px 0px;
      }

      .soc__item{
         display: flex;
         flex-direction: column;
      }
      .soc__item a:not(:last-child) {
         margin: 0px  0px 15px 0px;
      }

      
      .links__items li a{
      letter-spacing: 0.2px;
      }
}

@media (max-width: 767.98px) {

}

@media (max-width: 614.98px) {

      .footer__top{
         padding: 10px 0;
      }


   .footer__items{
      flex-wrap: wrap;
      row-gap: 30px;
      flex-direction: column;
   }
.footer__company {
   flex: 0 1 auto;
}

   .footer__company:not(:last-child){
      margin: 0px 0px ;
   }

      .links__items{
         display: flex;
         column-gap: 50px;
      }
   .footer__links:not(:last-child){
      margin: 0;
   }
      .contact__flex{
         display: flex;
      }

      .contact__adress{
         flex: 0 1 40%;
      }

      .contact__adress:not(:last-child){
         margin: 0px 40px 0px 0px;
      }

      .footer__contact:not(:last-child) {
         margin: 0;
      }
         
      .soc__item{
         flex-direction: row;
         justify-content: center;
         column-gap: 20px;
      }
      .soc__item a:not(:last-child) {
         margin: 0;
      }

      .footer__contact {
      flex: 0 1 auto;
}
}